/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

#table-wrapper {
    width: 500px !important;
    height: 100% !important;
    margin: 40px 40px 40px 40px !important;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.carousel {
    margin-bottom: 30px;
}
