<div class="container">
    <h2>Adaugare echipa</h2>
    <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Echipa:</label>
            <div class="col-sm-10">
                <input ng-model="vm.team.teamName" type="text" class="form-control" id="name" placeholder="Enter team name" >
            </div>
            <div class="col-sm-10">
                <input ng-model="vm.team.country" type="text" class="form-control" id="country" placeholder="Enter team country" >
            </div>
            <div class="col-sm-10">
                <input ng-model="vm.team.championship"s type="text" class="form-control" id="championship" placeholder="Enter team championship">
            </div>
            <div class="col-sm-10">
                <input ng-model="vm.team.ranking" type="text" class="form-control" id="ranking" placeholder="Enter team ranking">
            </div>
        </div>
        <div>
            <a ng-click="vm.addTeam()" href="#!/home">Add</a>
        </div>
    </form>

    <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Echipa:</label>
            <div class="col-sm-10">
                <input ng-model="vmteamName" type="text" class="form-control" id="name" placeholder="Enter team name">
            </div>
        </div>
        <div>
            <a ng-click="vm.deleteTeam()" href="#!/home">Delete</a>
        </div>
    </form>
</div>